			html { background-image:url(../assets/images/bg.jpg);background-color:#E6E6E6;background-repeat:repeat;}
			body {height:100%;overflow:hidden;padding-top:10px;padding-bottom:30px;padding-left:30px;padding-right:30px; background-color:rgba(255,255,255,0.5);}
			#dimage {position:absolute;top:87px;left:58px;width:94px;height:94px;}
			#image {width:94px;height:94px;}
			#id_1 {border:none;margin: 0px 0px 0px 122px;padding: 0px;border:none;overflow: hidden; height:130px;}
			.fttitle{font: 22px 'Arial';line-height: 16px;}
			.fttitle2{font:italic 16px 'Arial';line-height: 16px;}
			.psubtitle{text-align: left;padding-right: 0x;margin-top: 25px;margin-bottom: 3px;margin-left: 20px;}
			.psubtitle2{text-align: left;padding-right: 0x;margin-top: 0px;margin-bottom: 10px;margin-left: 20px;}
			.ftrec{font: 15px 'Arial';line-height: 15px;}
			.ftrecb{font: bold 15px 'Arial';line-height: 15px;}
			.p1{text-align: left;margin-top: 0px;margin-bottom: 0px;}