/*-----------------------------------------------------------------------------------*/
/*  Demo Style
/*-----------------------------------------------------------------------------------*/
/*  Reset this s***
/*------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
	outline-color:#1D5AA5;
	border-bottom-color:#1D5AA5;
	border-left-color:#1D5AA5;
	border-right-color:#1D5AA5;
	border-top-color:#1D5AA5;
	text-decoration:none;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

:focus {
  outline: 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

del {
  text-shadow: none!important;
}

body {
  overflow-x: hidden;
  margin-top: 0!important;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 18px;
  line-height: 1.8em;
  font-family: Georgia, serif;
  position: relative;
  overflow-x: hidden!important;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  line-height: 0;
  width: 100%;
}

.clearfix{
  zoom: 1;
}

.clearfix:before,
.clearfix:after,
.wrap:before,
.wrap:after,
hr:before,
hr:after {
   content: ""; display: table;
}

.clearfix:after,
.wrap:after,
hr:after {
  clear: both;
}

p {
  margin-bottom: 1em;
}

span.smooth {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  line-height: 1.4em;
  margin-bottom: 0.83em;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 5em;
  line-height: 1.3em;
  margin-bottom: 0.1em;
  text-align: center;
}

.tagline {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  max-width: 100%;
  letter-spacing: 0.09em;
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.4em;
  margin-top: 1.5em;
  margin-bottom: 0.67em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ccc;
}

h4, h5, h6 {
  font-size: 1em;
}

hr {
  border: none!important;
  height: 3px;
  background: #e6e6e6;
}

ol {
  margin-left: 1.5em;
  margin-bottom: 1em;
}

#main {
  position: relative;
  padding: 2em 0 0;
  border-top: 10px solid #293945;
}

#fork-this {
  position: absolute;
  z-index: 2;
  width: 150px;
  height: 150px;
  top: 5px;
  right: 0;
  z-index: 10;
  background: url("fork.png") no-repeat 0 0;
  background-size: 150px 150px;
}

.button {
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: white;
  background: #293945;
  font-size: 24px;
  padding: 0.8em 1.9em;
  margin-left: 0.75em;
  margin-right: 0.75em;
  -webkit-box-shadow: 0 0 1px 1px #cccccc;
  -moz-box-shadow: 0 0 1px 1px #cccccc;
  box-shadow: 0 0 1px 1px #cccccc;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.button:hover {
  background: #fff;
  color: #293945;
}

.wrap {
  width: 80%;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 4em;
}

section {
  position: relative;
}

ul.index-table{
  text-align: left;
  margin: 3em 1.5em 2em;
  list-style-type:square;
}

ul.index-table ul li{
  margin-left: 1.5em;
  list-style-type:square;
}

#action {
  margin-top: 3em;
  text-align: center;
}

footer {
  background: #0c1115;
  margin-top: 5em;
  font-size: 13px;
  height: 45px;
  line-height: 46px;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}
footer a {
  color: #999999;
  text-decoration: none;
}

.box {
  width: 24.9%;
  height: auto;
  float: left;
  margin-bottom: 0.7em;
  text-align: center;
  
}
.box a {
  display: inline-block;
  width: 98%;
  height: auto;
}
.box a img {
  width: 98%;
  height: auto;
  vertical-align: bottom;
}


#filter{
  margin-bottom: 1em;
}

#filter li{
  display: inline;
  margin-right: 0.5em;
}

#grid{
  margin-bottom: 2em;
}

#share div {
  display: inline-block;
}
#share #fb-like {
  position: relative;
}

#follow {
  text-align: center;
  margin-top: 3em;
}

code, pre {
  padding: 0.5em;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  margin-bottom: 1.5em;
  overflow-x: auto;
}

code {
  line-height: 2em;
  font-size: 0.8em;
}

pre {
  -webkit-box-shadow: inset 0px 0px 4px 1px #e6e6e6;
  -moz-box-shadow: inset 0px 0px 4px 1px #e6e6e6;
  box-shadow: inset 0px 0px 4px 1px #e6e6e6;
  border: 1px solid white;
  background: white;
}
pre span {
  color: green;
}

/* Isotope styles
---------------------------------------*/

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 1em;
  }

  .wrap {
    width: 92%;
  }

  .box {
    width: 50%;
  }

}
@media screen and (max-width: 500px) {
  .wrap {
    width: 95%;
  }

  .box {
    width: 100%;
  }

  h1 {
    font-size: 3.8em;
  }

  .tagline {
    font-size: 1.3em;
  }

  .button {
    font-size: 1em;
    padding: 0.5em 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  #fork-this {
    display: none;
  }
}

body {margin-top: 0px;margin-left: 0px;}


#page_1 {box-shadow: 0px 10px 10px #888888; position:relative; overflow: hidden;margin-left: auto;margin-right: auto;padding: 65px;border:1px solid black;width: 600px;background-color:rgba(255,255,255,0.8)}

#page_1 #id_1 {border:none;margin: 0px 0px 0px 130px;padding: 0px;border:none;width: 450px;height:100%;overflow: hidden;}
#page_1 #links {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 600px; height:100%;overflow: hidden;}


#page_1 #id_2 {border:none;margin: 24px 0px 24px 0px;padding: 0px;border:none;width: 600px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 0px 10px 0px 0px;padding: 0px;border:none;width: 295px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 295px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 24px 0px 0px 0px;padding: 0px;border:none;width: 600px;overflow: hidden;}
#page_1 #id_3 #id_3_1 {float:left;border:none;margin: 0px 10px 0px 0px;padding: 0px;border:none;width: 295px;overflow: hidden;}
#page_1 #id_3 #id_3_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 295px;overflow: hidden;}
#footer {position:relative; overflow: hidden;margin-left: auto;margin-right: auto;}
#page_1 #dimg1 {position:absolute;top:68px;left:65px;width:115px;height:115px;}
#page_1 #dimg1 #img1 {width:115px;height:115px;}

#page_1 #linkedin {text-align: left;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;width:210px;}
#page_1 #tx1 {position:absolute;top:318px;left:165px;width:108px;height:14px;}
.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}
.ft0{font: 11px 'Arial';line-height: 14px;}
.ft1{font: 11px 'Arial';line-height: 18px;}
.ft2{font: bold 12px 'Arial';line-height: 15px;}
.ft2b{font: 12px 'Arial';line-height: 15px;}
.ft3{font: 9px 'Arial';line-height: 12px;}
.ft4{font: bold 13px 'Arial';color: #1D5AA5;line-height: 16px;}
.ft5{font: 13px 'Arial';line-height: 16px;}
.ft6{font: 8px 'Arial';line-height: 10px;}
.ft7{font: 10px 'Arial';line-height: 13px;}
.ft8{font: 11px 'Arial';line-height: 13px;}
.ft9{font: 8px 'Arial';line-height: 14px;}
.ft10{font: 13px 'Arial';line-height: 15px;}
.ft11{font: 9px 'Arial';line-height: 13px;}
.ftmaintitle{font: 22px 'Arial';line-height: 16px;}
.fttitle{font: 22px 'Arial';line-height: 16px;}
.p0{text-align: left;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 4px;margin-bottom: 0px;}
.p2z{text-align: left;margin-top: 0px;margin-bottom: 0px;width:600px;}
.ftrec{font: 15px 'Arial';line-height: 15px;}
.ftrecb{font: bold 15px 'Arial';line-height: 15px;}
.linktext{text-align: left;margin-top: 0px;margin-bottom: 0px;height:27px;}

.p3{text-align: left;padding-left: 1px;margin-top: 2px;margin-bottom: 0px;}
.p4{text-align: left;margin-top: 7px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 1px;margin-top: 3px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 1px;margin-top: 1px;margin-bottom: 0px;}
.p7{text-align: left;margin-top: 8px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 2px;margin-top: 3px;margin-bottom: 0px;}
.p9{text-align: left;margin-top: 3px;margin-bottom: 0px;padding-right: 0px;}
.p10{text-align: left;margin-top: 2px;margin-bottom: 0px;}
.p11{text-align: left;margin-top: 6px;margin-bottom: 0px;}
.p12{text-align: left;margin-top: 5px;margin-bottom: 0px;}
.p13{text-align: left;padding-right: 0px;margin-top: 2px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 1px;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.p15{text-align: left;padding-left: 1px;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.p16{text-align: left;margin-top: 1px;margin-bottom: 0px;}
.p17{text-align: left;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.p18{text-align: left;padding-left: 1px;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.p19{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;}
.p20{text-align: left;padding-left: 1px;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.p21{text-align: left;padding-left: 1px;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.p22{text-align: left;padding-left: 1px;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.p23{text-align: left;padding-left: 1px;margin-top: 5px;margin-bottom: 0px;}
.p24{text-align: left;padding-left: 1px;padding-right: 0px;margin-top: 1px;margin-bottom: 0px;}
.p25{text-align: left;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.p26{text-align: left;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.p27{text-align: left;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.p28{text-align: left;margin-top: 9px;margin-bottom: 0px;}
.p29{text-align: left;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.p30{text-align: left;padding-right: 0px;margin-top: 0px;margin-bottom: 0px;}
.ptitle{text-align: left;padding-right: 0x;margin-top: 5px;margin-bottom: 23px;}
.pmaintitle{text-align: left;margin-bottom: 10px;margin-top: 1px;}